<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
       body {
            background: #F5950F;
            font-family: sans-serif;
            }
       main {
            color: #4D02A8;
            margin: auto;
            background-color: #27F561;
            width: 220px;
            height: 120px;
            padding: 10px;
            border-radius: 10px;
       }
    </style>
</head>
<body>
    <main>
        <p>Nossos contatos são:</p>
        <p> Email: luizseabra@icloud.com</p>
        <p>Telefone: 99945-5678</p>
        bottom
    </main>
</body>
</html>